/* Iconos */
.mdi {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
}


.profile-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #006837;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  margin: auto;
}

.perfil-card {
  border-radius: 12px;
  min-height: 100%;
}

.card-header {
  background: #f8f9fa;
  font-weight: 600;
}

.info-label {
  font-size: 13px;
  color: #6c757d;
}

.info-value {
  font-weight: 500;
}

.bg-dual {
  background-color: #66BB6A;
}